<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MBXAccessToken</key>
	<string>$(MBX_ACCESS_TOKEN)</string>
	<key>SUPABASE_URL</key>
	<string>$(SUPABASE_URL)</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>$(SUPABASE_ANON_KEY)</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Esta aplicación necesita acceso a tu ubicación para mostrar tu posición en el mapa y crear rutas.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Esta aplicación necesita acceso a tu ubicación para rastrear rutas y mostrar tu posición en tiempo real.</string>
</dict>
</plist>
